
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"><h3>Tonder</h3></a>
    <button *ngIf="(accountService.currentUser$ | async) as user" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="accountService.currentUser$ | async" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
        </li>
        <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
          <a class="nav-link" routerLink='/admin' routerLinkActive='active'>Admin</a>
        </li>
      </ul>

      <div class="dropdown d-flex align-items-center" *ngIf="(accountService.currentUser$ | async) as user">
        <img src="{{user.photoUrl || './assets/user.jpeg'}}" alt="{{user.photoUrl}}" />
        <a class=" dropdown-toggle text-white mx-2" id="dropdownMenuButton1" data-bs-toggle="dropdown">Bonjour, {{user.knownAs | titlecase}}</a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a routerLink="/member/edit" class="dropdown-item">Profile</a></li>
          <li><a class="dropdown-item" (click)="logout()">LogOut</a></li>

        </ul>
      </div>

    </div>
  </div>
</nav>
